<% @page_title = t(:edit_user) %>

<div class="pageTitle">
  <%= t(:edit_user) %>
</div>

<div class="form">
  <%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>
  <% if @user.errors.any? %>

  <div class="error">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li>
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <table class="form">
    <tr>
      <td colspan="2" style="text-align: center; font-weight: bold"><%= @user.username%></td>
    </tr>
    <tr>
      <td class="caption"><label for="name"><%= f.label(:name) %>:</label></td>
      <td class="data"> <%= f.text_field(:name, :maxlength => 255, :size => 30)  %> </td>
    </tr>    
    <tr>
      <td class="caption"><label for="name"><%= f.label(:viewer) %>:</label></td>
      <td class="data"> <%= f.check_box(:viewer)  %> </td>
    </tr>
    <tr>
      <td class="caption"><label for="name"><%= f.label(:editor) %>:</label></td>
      <td class="data"> <%= f.check_box(:editor)  %> </td>
    </tr>
    <tr>
      <td class="buttons" colspan="2"> <%= submit_tag(t(:save)) %>
      
      <br/>
      <br/>
      <br/>
      <%= link_to(t("list"), {:action => 'list'}, :class => "button") %>
      <%= link_to(t("reset_password"), {:action => 'reset_password', :id => @user.id}, :class => "button") %>      
      <%= link_to(t("delete"), {:action => 'delete', :id => @user.id}, :class => "button") %>
      </td>
    </tr>
  </table>
  <script type="text/javascript">
    var input = $("#user_name");
    if (input != null && input != undefined) {
      input.focus();
    }
  </script>
  <% end %>
</div>
